<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container d-flex justify-content-start">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/dashboard">Dashboard</a>
          {{#if loggedIn}}
            <button
              id="logout"
              class="btn btn-link"
              style="text-decoration: none;"
            >Logout</button>
          {{else}}
            <a class="nav-link" href="/login">Login</a>
          {{/if}}
        </div>

      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    {{#if loggedIn}}
      <script src="/js/navbar.js"></script>
    {{/if}}
  </body>
</html>