<section class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-login">Username:</label>
      <input type="text" id="username-input" />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input type="password" id="password-input" />
    </div>
    <button type="submit" id="login-btn" class="btn">Login</button>
  </form>
  <P>If you are new <a href="/signup">Sign Up Here!</a></P>
</section>

<script src="/js/login.js"></script>